<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<md-dialog class="fullscreen-dialog">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools" style="background: #3495CF;color: #fff;">
        <h2 style="color: #fff">Atendimentos</h2>
        <span flex></span>
         <md-button class="md-icon-button" ng-click="cancel()">
         <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>{{nucleo}}</h2>
        <br>
        <p align="justify">
          Em 27 de novembro de 2003, foi inaugurada a Instituição de Educação Infantil
          ACOMPAR Núcleo III – Tecno Moageira em parceria com a Empresa Privada Tecno Moageira S/A,
          hoje TMSA, que disponibilizou o prédio para o atendimento de 60 crianças.
          O núcleo foi criado em função da intenção da Igreja Santa Rosa de Lima em retomar os
          espaços físicos de funcionamento das Instituições de Educação Infantil ACOMPAR Núcleo I e Núcleo II.
          No dia 01 de Julho de 2010, foi inaugurado um prédio de dois pisos em anexo ao prédio já existente
          para atender a demanda da Região Norte de Porto Alegre, ampliando o espaço com a construção de mais
          três salas para o atendimento de 108 (cento e oito) crianças.
        </p>



      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <!--<md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('Fechou')">
        Fechar
      </md-button>-->
    </md-dialog-actions>
  </form>
</md-dialog>
