<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<md-dialog class="fullscreen-dialog">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools" style="background: #3495CF;color: #fff;">
        <h2 style="color: #fff">Atendimentos</h2>
        <span flex></span>
         <md-button class="md-icon-button" ng-click="cancel()">
         <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>{{nucleo}}</h2>
        <br>
        <p align="justify">
          O núcleo II, da ACOMPAR, foi fundado no ano de 1977,
          sobre a gerência das irmãs Carlistas, na década de oitenta,
          1982, com apoio do Lions Club de Porto Alegre-Centro foi
          construído um prédio específico para o atendimento das crianças.
          Em 1995, foi construído um prédio anexo para atender a demanda
          em condições ideais conforme a legislação da época. Em maio
          de 2016, por ordem judicial tivemos que entregar o espaço que
          era comum com a Paroquia por muitos anos. Surgiu uma nova parceria
          com as Aldeias Infantis SOS do Brasil, cedendo uma área com dois prédios.
          A ACOMPAR realizou as adequações, conforme legislação atual e, hoje,
          atende 175 crianças de 0 a 5 anos.
        </p>



      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <!--<md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('Fechou')">
        Fechar
      </md-button>-->
    </md-dialog-actions>
  </form>
</md-dialog>
