<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<md-dialog class="fullscreen-dialog">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools" style="background: #3495CF;color: #fff;">
        <h2 style="color: #fff">Atendimentos</h2>
        <span flex></span>
         <md-button class="md-icon-button" ng-click="cancel()">
         <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>{{nucleo}}</h2>
        <br>
        <p align="justify">
        A ACOMPAR V – Luisa Casagrande Levandowski foi inaugurada no dia 27 de agosto de 2012,
        e possui capacidade para 114 crianças com idade entre 4 meses a 5 anos e 11 meses.
        Este núcleo surgiu a partir da necessidade da comunidade do Condomínio Residencial
        Jenor Jarros de mais vagas na educação infantil, devido a grande procura na região,
        já que as instituições ali existentes não davam conta de toda a demanda. Foi uma conquista
        através do Orçamento Participativo, então a Prefeitura de Porto Alegre construiu o prédio
        e escolheu a ACOMPAR como instituição responsável pela administração do espaço que, hoje,
        atende não só o CRJJ, mas, também as diversas comunidades do entorno da instituição.
        </p>



      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <!--<md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('Fechou')">
        Fechar
      </md-button>-->
    </md-dialog-actions>
  </form>
</md-dialog>
