<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<md-dialog class="fullscreen-dialog">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools" style="background: #3495CF;color: #fff;">
        <h2 style="color: #fff">Atendimentos</h2>
        <span flex></span>
         <md-button class="md-icon-button" ng-click="cancel()">
         <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>{{nucleo}}</h2>
        <br>
        <p align="justify">
          Realizar um trabalho com a comunidade, visando o desenvolvimento local
          com vistas a proteção da criança e do adolescente, bem como a evolução
          da condição das famílias de vulneráveis a cidadãos sabedores de sua participação
          social e comunitária.
          <br>No desenvolvimento social e comunitário os principais programas são
          SCFV – Serviço de Convivência e Fortalecimento de Vínculos; Programa de Aprendizagem;
          Informática e Ação Rua.
          <br>
          O Núcleo VI da Acompar atende o Serviço de Convivência e Fortalecimento de Vínculos de 6 (seis)
          a 14 (catorze) anos desde 1974.
          <br>
          O Núcleo IV da Acompar atende os Programas de Serviço de Convivência e Fortalecimento de Vínculos
          de 14 (catorze) a 18 (dezoito) anos;
          <br>
          Programa de Aprendizagem e Informática. Neste espaço, também,
          está sediado o Núcleo do Programa Ação Rua regiões norte e noroeste do município de Porto Algre.
        </p>



      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <!--<md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('Fechou')">
        Fechar
      </md-button>-->
    </md-dialog-actions>
  </form>
</md-dialog>
